<div class="content-container">
  <div class="jumbotron">
    <h1> Keynote Speakers </h1>
    <p>
      <p>
        We are excited to host keynote speakers from a diverse set of areas. 
      </p>
    </div>
    
    <div class="page-content">
      <h2>From data stream management to distributed dataflows and beyond<br>
        <p>Vasiliki (Vasia) Kalavri &nbsp; <small>Boston University</small></p> </h2>

        <h3>Abstract</h3>
        <p>
          Recent efforts by academia and open-source communities have established
 stream processing as a principal data analysis technology across industry. All major cloud vendors offer streaming dataflow pipelines and online analytics as managed services. Notable use-cases include real-time fault detection in space networks, city traffic management, dynamic pricing for car-sharing, and anomaly detection in financial transactions. At the same time, streaming dataflow systems are increasingly being used for event-driven applications beyond analytics, such as orchestrating microservices and model serving. In the past decades, streaming technology has evolved significantly, however, emerging applications are once more challenging the design decisions of modern streaming systems. In this talk, I will discuss the evolution of stream processing and bring current trends and open problems to the attention of our community.
        </p>
        <h3>Bio</h3>
        <p>
          Vasiliki (Vasia) Kalavri is an Assistant Professor at Boston University Department of Computer Science. She is working on distributed stream processing and large-scale graph analytics and she is a PMC member of Apache Flink. Before joining BU, Vasia was a postdoctoral fellow at ETH Zurich and received a joint PhD from KTH Stockholm and UCLouvain.   </p>
        </p>
        
        <h2>CockroachDB: Architecture of a Geo-Distributed SQL Database <br>
          <p>Peter Mattis &nbsp; <small>Cockroach Labs</small> <br>
          </p>
        </h2>
        <h3>Abstract</h3>
        <p>
          In this talk Cockroach Labs' CTO and co-founder, Peter Mattis, will speak to the architecture of an open-source, geo-distributed, SQL database. The talk will be a whirlwind tour of CockroachDB’s architecture, covering the usage of Raft, the challenges of data distribution, distributed transactions, distributed SQL execution, and distributed SQL optimizations.
 </p>
        <h3>Bio</h3>
        <p>
          Peter is the co-founder of Cockroach Labs where he works on a bit of everything, from low level optimization of code to refining the overall design. He has worked on distributed systems for most of his career, designing and implementing the original Gmail backend search and storage system at Google and designing and implementing Colossus, the successor to Google's original distributed file system. In his university days he was one of the original authors of the GIMP and is still amazed when people tell him they use it frequently.
          </p>
          
          <h2>Tableau: Explain Data and Ask Data<br>
          <p>Nga Tran &nbsp; <small>Tableau</small> <br>
          </p>
        </h2>
        <h3>Abstract</h3>
        <p>
          This demo-heavy talk presents two of Tableau’s Augmented Analytic features: Explain Data and Ask Data, built using Statistics and Natural Language Processing respectively. The talk will start with a demo showcasing the need of these two features, after which each feature will be presented in its own demo to illustrate its powerful usage in Tableau. The talk will conclude with a research idea on automatically generating visualizations using automated statistical analysis from metadata. </p>
        <h3>Bio</h3>
        <p>
        Nga Tran is a Senior Manager of the Automated Statistics Team at Tableau. Before that, she had been with Vertica Analytics DB for over a decade since the company in its early startup stage and had helped build the Query Optimizer and then had run the Engineering team. </p>
        
      </div>
    </div>
