<div class="content-container">
   <div class="jumbotron">
      <h1>
         North East Database Day 2025 <br />
         <small>Thursday January 9th, 2025</small><br />
         <small><a href="https://www.brandeis.edu/computer-science/" target="_blank">Michtom School of Computer
               Science</a> @ Brandeis University</small>
      </h1>
      <p>Welcome to the home page for the 15th Annual North East Database Day (NEDB Day), to be held on January 9th,
         2025, in Brandeis University at the <a href="https://www.brandeis.edu/about/visiting/map.html?bldgid=0101-1" target="_blank">Hassenfeld
            Conference Center</a>.
         <br /><br />
         NEDBDay will be an all day conference-style event where participants from the research community and industry
         in the Northeast region of the US come together to present ideas and discuss their research, products, and
         experiences. This includes talks throughout the day, keynotes, as well as a poster session in the late
         afternoon. The theme of NEDBDay covers all relevant aspects of data-intensive systems, data management and
         analytics including traditional relational systems, NoSQL, graph processing, systems for machine learning,
         machine learning for systems, data science, cloud computing, and many more. <br /><br />

         NEDBDay 2025 will feature <a href="#keynote"> keynotes</a> from <a
            href="https://www.linkedin.com/in/michael-stonebraker-1064661a/" target="_blank">Michael Stonebraker</a>
         (MIT), <a href="https://www.linkedin.com/in/dhruba/" target="_blank">Dhruba Borthakur</a> (Open AI) and
         <a href="https://www.linkedin.com/in/tjake/" target="_blank">Jake Luciani</a> (DataStax).
         <br />
         <br />
         <!-- This year NEDBDay will also feature a special entrepreneurship session with local startups and VCs.
         <br/> -->

      </p>
   </div>
   <div class="page-content">
      <!--
      <h2>Latest News</h2>
      <ul id="news" class="items">
         <li><a href="#program">Talk slides</a> have been posted.</li>
         <li><a href="https://photos.google.com/share/AF1QipN7A4rVJDi0-7vF42L6Bp_OP2YG_3_Ez7HSZWVtbnf8qEbfo2NluMJ_xaBClQTvZQ?key=VTV6eEZwNnZiRlJyVDAzSi1jZk5VS0h3d1NTMVdn" target="_blank">Event photos</a> have been posted (courtesy of Jacek Ambroziak).</li>
         <li>Twitter hashtag: <a href="https://twitter.com/search?q=%23NEDBD2017&src=typd" target="_blank">#NEDBD2017</a></li>
      </ul>
		   -->

      <h2>Special thanks to this year’s sponsors:</h2>
      <p style="text-align: center;">
         <a href="https://www.brandeis.edu/computer-science/" target="_blank"><img
               src="images/logos/brandeis-computer-science.jpg"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
         <a href="https://www.microsoft.com/" target="_blank"><img src="images/logos/MSFT.png"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
         <a href="https://www.datastax.com/" target="_blank"><img src="images/logos/datastax.jpg"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
         <a href="https://www.cockroachlabs.com/" target="_blank"><img src="images/logos/cockroach-labs.png"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
      </p>

      <h2> Talk and Poster Submissions </h2>
      We are soliciting proposals for talks as well as posters. For talks, please prepare a maximum 2-page abstract (in
      single column 10-point format) describing research you would like to present in a talk. If the talk is based fully
      or partially on one or more published research papers please cite those papers. We also welcome talks that
      describe on-going research and industry experience. For posters, please prepare a 1-page abstract in 10-point font
      summarizing your poster.
      <br /><br />
      All reasonable posters will be accepted. We will also accommodate as many talks as possible but have a limited
      number of speaking slots. If your talk is not selected for presentation you will be given the choice to use a
      poster slot. We also encourage all speakers to participate in the later poster session.
      <br /><br />
      Submit poster and talk proposals on the <a href="https://cmt3.research.microsoft.com/NEDBDay2025/"
         target="_blank">NEDB Day 2025 Microsoft CMT Site</a>.
      <ul id="links" class="items">
		<li><a href="#program">List of Accepted Talks</a></li>
		<li><a href="#posters">List of Accepted Posters</a></li>
	  </ul>



      <!--
	  <h3>Poster Details</h3>
	  The poster session will take place after the accepted talks. Please bring your posters printed on the day of the event. Keep in mind that they will be attached to 2'x3' foam boards with clips.
		-->


      <h2>Important Dates (preliminary)</h2>
      <ul id="dates" class="items">
         <li><b>Talk and poster submission:</b> December 18th, 2024, 11:59 PM EST (Wednesday)</li>
         <li><b>Author notification:</b> December 23rd, 2024 (Monday)</li>
         <li><b>Last day of registration :</b> Jan 9th, 2025 (Thursday)
            <font color="red">(Please notice that we will not be able to provide lunch/parking for registrations after Jan 5th)</font>
         </li>
         <li><b>NEDB Day:</b> January 9th, 2025 (Thursday)</li>
      </ul>

      <!--
      <ul id="links" class="items">
         <li>
            <a href="#program">List of Accepted Papers</a>
            <p>
         </li>
         <li><a href="#posters">List of Posters</a></li>
      </ul>
		  -->
      <h2 id="registration">Registration</h2>
      <p>
         Following prior years, we will be charging a nominal fee, for non-students ($100) and students ($25), to defray
         some of our organization costs and discourage
         registrants who are not serious about attending (so that we can better plan for food and drink allocation.)
         If this cost is prohibitive to you and you are a non-student, please contact us. All money goes directly
         towards enabling this event.

      </p>
      <p>

         <a href="https://brandeisuniversity.my.site.com/s/event-detail?language=en_US&eventId=a4xPQ000000CiRt" id="registerbtn" target="_blank">Register here</a>

      </p>
      <p>
      </p>


      <h2>Event details</h2>
      <p>
         The North East Database Day will be held on Thursday January 9th, 2025 from 8am to 8:30pm on the campus of
         Brandeis University, in the
         <a href="https://www.brandeis.edu/computer-science/" target="_blank">Michtom School of Computer Science</a>,
         located at <a href="https://www.brandeis.edu/about/visiting/map.html?bldgid=0101-1" target="_blank">Hassenfeld
            Conference Center, 415 South St, Waltham, MA 02453</a>.
         Please refer to the detailed <a href="https://www.brandeis.edu/about/visiting/images/directions/color-map.pdf"
            target="_blank">campus
            map (PDF)</a> and <a href="https://www.brandeis.edu/about/visiting/map.html" target="_blank">additional
            details</a> for more
         information.
      </p>
      <!--p><i>To access the top floor, please use elevators by Saxby’s Café.</i></p-->

      <p> After the main event, we are organizing an informal networking session intended for students. It will be held 6:15-8:00 pm at location: Feldberg Lounge and pizza will be provided.
      </p>

      <h2>WiFi</h2>
      <p> You can connect using the "eduroam" or the "brandeis_open" networks. More details are available <a
            href="https://www.brandeis.edu/its/support/guest-wireless/index.html" target="_blank">here</a>.
         <!--a href="https://www.bu.edu/tech/services/infrastructure/networks/wireless/guest/" target="_blank">here</a>.
            </p-->


      <h2>Parking, Transportation, Hotels, and Restaurants</h2>
      <p>The <a href="https://www.brandeis.edu/about/visiting/map.html?bldgid=0101-1" target="_blank">Hassenfeld
            Conference Center (Building L13)</a> is located on the <a
            href="https://www.brandeis.edu/about/visiting/images/directions/color-map.pdf" target="_blank">lower
            campus</a>, approximately a 10-minute walk
         from the main entrance. Additional details about commuting to the event or booking a hotel in the area can be
         found <a href="#transport">here</a>.</p>
      <!-- <p>
        The CCDS building is a 1 min walk from
		<a href="https://www.google.com/maps/dir/Boston+University+East,+Granby+Street,+Boston,+MA/Boston+University+Center+for+Computing+and+Data+Sciences+(CDS),+Commonwealth+Avenue,+Boston,+MA/@42.3503485,-71.1066638,17.25z/data=!3m1!5s0x89e379f7642a2947:0x44a22be2220e3018!4m14!4m13!1m5!1m1!1s0x89e379f0b0cbe2df:0x6763a6b7fa35a941!2m2!1d-71.1042047!2d42.3496784!1m5!1m1!1s0x89e379d2933baeed:0x60e64b526f2cebed!2m2!1d-71.1032304!2d42.3498955!3e2?hl=en-US&entry=ttu" target="_blank">BU East station</a>.
		
		More information on commuting to the event or booking a hotel in the area is available <a href="#transport">here.</a> -->

      <!--If you choose to drive to the event, [parking information].-->

      </p>

      <!-- <p>
         We cannot provide on-campus parking for all attendees. If you are coming from the North or West, you may
         find it most convenient to drive to Alewife Station and take the Red Line to Kendall Square (MIT is about 2
         blocks from the Kendall Square Station, which is on Main St.) If you are coming from the South, you can park
         at Braintree or Quincy Station and take the Red Line as well. See this <a
            href="http://www.mbta.com/schedules_and_maps/subway/lines/?route=RED">Red Line Map</a>. Parking at these
         stations is $7.00.
      </p>
      <p>
         If you are driving to MIT, there are several nearby pay parking lots. See MIT's page listing <a
            href="http://web.mit.edu/facilities/transportation/parking/visitors/public_parking.html">public
         parking facilities</a>. The Cambridge Center lots are all a short walk to the Stata Center. Most lots charge
         $20.00 for one day parking.
      </p>
      <p>
         <b>Hotels within easy walk </b> of the conference venue are:
            <ul id="dates" class="items" style="margin-top:-15px;">
               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60890-d258731-Reviews-Kendall_Hotel-Cambridge_Massachusetts.html">Kendall Hotel</a></li>
               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60890-d89639-Reviews-Boston_Marriott_Cambridge-Cambridge_Massachusetts.html">Boston Marriott Cambridge (50 Broadway)</a></li>
               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60890-d94230-Reviews-Residence_Inn_Boston_Cambridge-Cambridge_Massachusetts.html">Residence Inn by Marriott Cambridge</a></li>

               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60890-d259028-Reviews-Kimpton_Marlowe_Hotel-Cambridge_Massachusetts.html">Kimpton Marlow Hotel</a></li>
               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60890-d89644-Reviews-Royal_Sonesta_Boston-Cambridge_Massachusetts.html">Royal Sonesta Boston</a></li>
               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60745-d647006-Reviews-The_Liberty_A_Luxury_Collection_Hotel-Boston_Massachusetts.html">The Liberty Hotel</a></li>
               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60890-d208446-Reviews-Le_Meridien_Cambridge_MIT-Cambridge_Massachusetts.html">Le Meridien Cambridge</a></li>
               <li><a href="https://www.tripadvisor.com/Hotel_Review-g60745-d111441-Reviews-Hyatt_Regency_Boston-Boston_Massachusetts.html">Hyatt Regency Boston</a></li>
            </ul>

      </p>

      <p><b>For easily walkable restaurants </b> after the event, we suggest:
              <ul id="dates" class="items" style="margin-top:-15px;">
                 <li>Food: <a href="https://www.tripadvisor.com/Restaurant_Review-g60890-d2403533-Reviews-Catalyst-Cambridge_Massachusetts.html">Catalyst</a> or <a href="https://www.tripadvisor.com/Restaurant_Review-g60890-d323068-Reviews-EVOO-Cambridge_Massachusetts.html">EVOO</a></li>
                 <li>Beer: <a href="https://www.tripadvisor.com/Restaurant_Review-g60890-d2249565-Reviews-Meadhall-Cambridge_Massachusetts.html">Meadhall</a> or
                   <a href="https://www.tripadvisor.com/Restaurant_Review-g60890-d323161-Reviews-Cambridge_Brewing_Company-Cambridge_Massachusetts.html">Cambridge Brewing Company</a></li>
              </ul>

      </p> -->


      <h2>General Organizers</h2>
      <ul id="committee" class="items">
         <li><a href="https://subhadeep.net/" target="_blank">Subhadeep Sarkar</a> (Brandeis University)</li>
         <li><a href="https://cs-people.bu.edu/mathan/" target="_blank">Manos Athanassoulis</a> (Boston University)</li>
         <li><a href="http://db.csail.mit.edu/madden/" target="_blank">Sam Madden</a> (MIT)</li>
      </ul>


      <h2>Program Chairs</h2>
      <ul id="committee" class="items">
         <li><a href="https://www.eecs.tufts.edu/~johes/" target="_blank">Johes Bater</a> (Tufts University)</li>
         <li><a href="https://sites.google.com/view/juhyoungmun/" target="_blank">Ju Hyoung Mun</a> (Brandeis
            University)</li>
         <li><a href="https://prashantpandey.github.io/" target="_blank">Prashant Pandey</a> (Northeastern University)
         </li>
      </ul>

      <h2>Advisory Committee</h2>
      <ul id="committee" class="items">
         <li><a href="https://gatterbauer.name/" target="_blank">Wolfgang Gatterbauer</a> (Northeastern University)</li>
         <li><a href="https://stratos.seas.harvard.edu/" target="_blank">Stratos Idreos</a> (Harvard University)</li>
         <li><a href="https://people.csail.mit.edu/kraska/" target="_blank">Tim Kraska</a> (MIT)</li>
         <li><a href="https://scholarworks.brandeis.edu/esploro/profile/olga_papaemmanouil/overview"
               target="_blank">Olga Papaemmanouil</a> (Brandeis University)</li>
         <li><a href="https://www.khoury.northeastern.edu/home/mirek/" target="_blank">Mirek Riedewald</a> (Northeastern
            University)</li>
      </ul>

      <h2>Web Chair</h2>
      <ul id="committee" class="items">
         <li><a href="https://www.shubhamkaushik.com/" target="_blank">Shubham Kaushik</a> (Brandeis University)</li>
      </ul>



      <h2>Acknowledgement</h2>
      <p> The <a href="https://cmt3.research.microsoft.com/Conference/Recent" target="_blank">Microsoft CMT service</a>
         was used for managing the peer-reviewing process for this conference. This service was provided for free by
         Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software
         development and support.
         <br>
         <br>
         <br>

   </div>
</div>