
<div class="content-container">
<div class="jumbotron">
   <h1>
      Event Photos<br />
     <small>North East Database Day 2025 </small><br />
     <small>Thursday January 9th, 2025</small><br/>
     <small><a href="https://www.bu.edu/cds-faculty/explore/bu-center-for-computing-data-sciences/" target="_blank">Center for Computing & Data Sciences (CCDS)</a> 1750 @ Boston University</small>
   </h1>
</div>



<div class="row">
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8266 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8266 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8273 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8273 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8288 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8288 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8297 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8297 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8300 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8300 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8302 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8302 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
</div>

<br/>

<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/IMG_6858 Matt Butrovich.jpeg" target="_blank">
            <img src="./photos/IMG_6858 Matt Butrovich.jpeg" alt="NEDBday24" style="width:70%; display: block; margin-left: auto; margin-right: auto;">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/IMG_6860 Matt Butrovich.jpeg" target="_blank">
            <img src="./photos/IMG_6860 Matt Butrovich.jpeg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
	
	<div class="col-xs-4 ">
        <a href="./photos/IMG_6886 Matt Butrovich.JPG" target="_blank">
            <img src="./photos/IMG_6886 Matt Butrovich.JPG" alt="NEDBday24" style="width:80%">
        </a>
    </div>
	
</div>
<br/>

<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/IMG_20230310_085127357_HDR Jeongkyu Lee.jpg" target="_blank">
            <img src="./photos/IMG_20230310_085127357_HDR Jeongkyu Lee.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
	
    <div class="col-xs-4 ">
        <a href="./photos/IMG_20230310_085451362_HDR Jeongkyu Lee.jpg" target="_blank">
            <img src="./photos/IMG_20230310_085451362_HDR Jeongkyu Lee.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/IMG_20230310_110106586_HDR Jeongkyu Lee.jpg" target="_blank">
            <img src="./photos/IMG_20230310_110106586_HDR Jeongkyu Lee.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
	
</div>
<br/>


<div class="row">
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8304 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8304 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8311 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8311 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
  <div class="col-xs-4 ">
	<a href="./photos/IMG_8314 Large.jpeg" target="_blank">
		<img src="./photos/IMG_8314 Large.jpeg" alt="NEDBday24" style="width:100%">
	</a>
  </div>
</div>

<br/>




<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0007.jpg" target="_blank">
            <img src="./photos/DSC_0007.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0009.jpg" target="_blank">
            <img src="./photos/DSC_0009.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0011.jpg" target="_blank">
            <img src="./photos/DSC_0011.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0015.jpg" target="_blank">
            <img src="./photos/DSC_0015.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0016.jpg" target="_blank">
            <img src="./photos/DSC_0016.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0021.jpg" target="_blank">
            <img src="./photos/DSC_0021.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0807.jpg" target="_blank">
            <img src="./photos/DSC_0807.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0814.jpg" target="_blank">
            <img src="./photos/DSC_0814.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0818.jpg" target="_blank">
            <img src="./photos/DSC_0818.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0821.jpg" target="_blank">
            <img src="./photos/DSC_0821.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0823.jpg" target="_blank">
            <img src="./photos/DSC_0823.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0841.jpg" target="_blank">
            <img src="./photos/DSC_0841.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0842.jpg" target="_blank">
            <img src="./photos/DSC_0842.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0845.jpg" target="_blank">
            <img src="./photos/DSC_0845.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0855.jpg" target="_blank">
            <img src="./photos/DSC_0855.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0860.jpg" target="_blank">
            <img src="./photos/DSC_0860.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0861.jpg" target="_blank">
            <img src="./photos/DSC_0861.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0863.jpg" target="_blank">
            <img src="./photos/DSC_0863.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0865.jpg" target="_blank">
            <img src="./photos/DSC_0865.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0866.jpg" target="_blank">
            <img src="./photos/DSC_0866.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0878.jpg" target="_blank">
            <img src="./photos/DSC_0878.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0882.jpg" target="_blank">
            <img src="./photos/DSC_0882.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0887.jpg" target="_blank">
            <img src="./photos/DSC_0887.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0888.jpg" target="_blank">
            <img src="./photos/DSC_0888.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0891.jpg" target="_blank">
            <img src="./photos/DSC_0891.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0897.jpg" target="_blank">
            <img src="./photos/DSC_0897.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0899.jpg" target="_blank">
            <img src="./photos/DSC_0899.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0900.jpg" target="_blank">
            <img src="./photos/DSC_0900.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0901.jpg" target="_blank">
            <img src="./photos/DSC_0901.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0903.jpg" target="_blank">
            <img src="./photos/DSC_0903.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0910.jpg" target="_blank">
            <img src="./photos/DSC_0910.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0913.jpg" target="_blank">
            <img src="./photos/DSC_0913.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0919.jpg" target="_blank">
            <img src="./photos/DSC_0919.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0922.jpg" target="_blank">
            <img src="./photos/DSC_0922.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0925.jpg" target="_blank">
            <img src="./photos/DSC_0925.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0930.jpg" target="_blank">
            <img src="./photos/DSC_0930.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0934.jpg" target="_blank">
            <img src="./photos/DSC_0934.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0935.jpg" target="_blank">
            <img src="./photos/DSC_0935.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0937.jpg" target="_blank">
            <img src="./photos/DSC_0937.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0947.jpg" target="_blank">
            <img src="./photos/DSC_0947.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0950.jpg" target="_blank">
            <img src="./photos/DSC_0950.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0953.jpg" target="_blank">
            <img src="./photos/DSC_0953.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0955.jpg" target="_blank">
            <img src="./photos/DSC_0955.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0958.jpg" target="_blank">
            <img src="./photos/DSC_0958.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0963.jpg" target="_blank">
            <img src="./photos/DSC_0963.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0964.jpg" target="_blank">
            <img src="./photos/DSC_0964.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0967.jpg" target="_blank">
            <img src="./photos/DSC_0967.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0970.jpg" target="_blank">
            <img src="./photos/DSC_0970.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0973.jpg" target="_blank">
            <img src="./photos/DSC_0973.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0976.jpg" target="_blank">
            <img src="./photos/DSC_0976.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0981.jpg" target="_blank">
            <img src="./photos/DSC_0981.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0984.jpg" target="_blank">
            <img src="./photos/DSC_0984.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0986.jpg" target="_blank">
            <img src="./photos/DSC_0986.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0994.jpg" target="_blank">
            <img src="./photos/DSC_0994.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0996.jpg" target="_blank">
            <img src="./photos/DSC_0996.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_0998.jpg" target="_blank">
            <img src="./photos/DSC_0998.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_1004.jpg" target="_blank">
            <img src="./photos/DSC_1004.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/DSC_1006.jpg" target="_blank">
            <img src="./photos/DSC_1006.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_1009.jpg" target="_blank">
            <img src="./photos/DSC_1009.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_1013.jpg" target="_blank">
            <img src="./photos/DSC_1013.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>


<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/group_photo_01 Niccolo Meneghetti.jpg" target="_blank">
            <img src="./photos/group_photo_01 Niccolo Meneghetti.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/DSC_1024.jpg" target="_blank">
            <img src="./photos/DSC_1024.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/IMG_20230310_152308402 Jeongkyu Lee.jpg" target="_blank">
            <img src="./photos/IMG_20230310_152308402 Jeongkyu Lee.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>

<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/group_photo_02 Niccolo Meneghetti.jpg" target="_blank">
            <img src="./photos/group_photo_02 Niccolo Meneghetti.jpg" alt="NEDBday24" style="width:70%">
        </a>
    </div>

</div>

<br/>

</div>
