
<div class="content-container">
<div class="jumbotron">
   <h1>
      Event Photos<br />
     <small>North East Database Day 2025 </small><br />
     <small>Thursday January 9th, 2025</small><br/>
     <small><a href="https://www.brandeis.edu/computer-science/" target="_blank">Michtom School of Computer Science</a> @ Brandeis University</small>
   </h1>
</div>
<!--div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/1.jpg" target="_blank">
            <img src="./photos/1.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/4.jpg" target="_blank">
            <img src="./photos/4.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/5.jpg" target="_blank">
            <img src="./photos/5.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/2.jpg" target="_blank">
            <img src="./photos/2.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/3.jpg" target="_blank">
            <img src="./photos/3.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/7.jpg" target="_blank">
            <img src="./photos/7.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/6.jpg" target="_blank">
            <img src="./photos/6.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/8.jpg" target="_blank">
            <img src="./photos/8.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/9.jpg" target="_blank">
            <img src="./photos/9.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/10.jpg" target="_blank">
            <img src="./photos/10.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/12.jpg" target="_blank">
            <img src="./photos/12.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/15.jpg" target="_blank">
            <img src="./photos/15.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/11.jpg" target="_blank">
            <img src="./photos/11.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/13.jpg" target="_blank">
            <img src="./photos/13.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/14.jpg" target="_blank">
            <img src="./photos/14.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/16.jpg" target="_blank">
            <img src="./photos/16.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/21.jpg" target="_blank">
            <img src="./photos/21.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/25.jpg" target="_blank">
            <img src="./photos/25.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/17.jpg" target="_blank">
            <img src="./photos/17.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/18.jpg" target="_blank">
            <img src="./photos/18.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/19.jpg" target="_blank">
            <img src="./photos/19.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/20.jpg" target="_blank">
            <img src="./photos/20.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/22.jpg" target="_blank">
            <img src="./photos/22.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/23.jpg" target="_blank">
            <img src="./photos/23.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/24.jpg" target="_blank">
            <img src="./photos/24.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/28.jpg" target="_blank">
            <img src="./photos/28.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/29.jpg" target="_blank">
            <img src="./photos/29.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/26.jpg" target="_blank">
            <img src="./photos/26.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/27.jpg" target="_blank">
            <img src="./photos/27.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/30.jpg" target="_blank">
            <img src="./photos/30.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/31.jpg" target="_blank">
            <img src="./photos/31.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/32.jpg" target="_blank">
            <img src="./photos/32.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/33.jpg" target="_blank">
            <img src="./photos/33.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/34.jpg" target="_blank">
            <img src="./photos/34.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/35.jpg" target="_blank">
            <img src="./photos/35.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/36.jpg" target="_blank">
            <img src="./photos/36.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/37.jpg" target="_blank">
            <img src="./photos/37.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/38.jpg" target="_blank">
            <img src="./photos/38.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/39.jpg" target="_blank">
            <img src="./photos/39.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/40.jpg" target="_blank">
            <img src="./photos/40.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/41.jpg" target="_blank">
            <img src="./photos/41.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/42.jpg" target="_blank">
            <img src="./photos/42.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-xs-4 ">
        <a href="./photos/43.jpg" target="_blank">
            <img src="./photos/43.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/44.jpg" target="_blank">
            <img src="./photos/44.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>

    <div class="col-xs-4 ">
        <a href="./photos/45.jpg" target="_blank">
            <img src="./photos/45.jpg" alt="NEDBday24" style="width:100%">
        </a>
    </div>
</div-->
<br/>


</div>
