<div class="content-container">


  <div class="jumbotron">
    <h1> Transportation and Hotel Information<br />
      <small>North East Database Day 2025 </small><br />
      <small>Thursday January 9th, 2025</small><br />
      <small><a href="https://www.brandeis.edu/computer-science/" target="_blank">Michtom School of Computer Science</a>
        @ Brandeis University</small>
    </h1>
  </div>


  <h2>Transportation and Parking</h2>

  <p style="background-color: #f0f0f0; padding: 5px; border-radius: 3px; text-align: center;">
    <strong>Hassenfeld Conference Center @ Brandeis University <br/> 415 South Street, Waltham, MA 02453</strong>
  </p>

  <p>Early birds can park in the <strong>Hassenfeld Lot</strong>, approximately <b>510</b> feet from the Hassenfeld Conference
    Center, or at the <strong>Theater Lot</strong>, about <b>1,500</b> feet away. Follow the steps below to park and reach your
    destination:</p>



    <h3><span style="color:#226da2;mso-themecolor:accent2">Parking Directions</span></h3>
  <ul>
    <li>Enter through the main Brandeis entrance and turn <strong>left</strong> onto Loop Road.</li>
    <li>
      The <strong>Hassenfeld Lot</strong> is a 2-minute drive. Keep driving until you see signage for the Hassenfeld
      Lot.
    </li>
    <li>
      The <strong>Theater Lot</strong> is about a 1-minute drive from the main entrance but is farther from the
      Hassenfeld Conference Center. To access it, continue on Loop Road, stop at the <strong>Shapiro Admissions
        Center</strong>, and turn <strong>left</strong> at the stop sign.
    </li>
  </ul>

  <h3><span style="color:#226da2;mso-themecolor:accent2">Walking Directions to the Venue</span></h3>
<h4>From Hassenfeld Lot: <a href="https://www.google.com/maps/dir/42.3665159,-71.2615476/Hassenfeld+Conference+Center,+South+Street,+Waltham,+MA/@42.3664257,-71.2636269,17z/am=t/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x89e38315a00fd793:0xf0a24b84a4753002!2m2!1d-71.2606688!2d42.3664885!3e2?entry=ttu&g_ep=EgoyMDI1MDEwMi4wIKXMDSoASAFQAw%3D%3D"
target="_blank">
<button><span style="color:#00B050;mso-themecolor:accent2">Google Map Directions</span></button>
</a></h4>
<ol>
  <li>Exit the parking lot.</li>
  <li>Turn <strong>right</strong> onto Loop Road and walk 112 feet.</li>
  <li>Turn <strong>left</strong> and walk 322 feet.</li>
  <li>Turn <strong>left</strong> again; the venue will be on your left after 79 feet.</li>
</ol>

<h4>From Theater Lot: <a href="https://www.google.com/maps/dir/42.3639997,-71.2626631/Hassenfeld+Conference+Center,+South+Street,+Waltham,+MA/@42.3652448,-71.2662724,16z/am=t/data=!3m1!4b1!4m14!4m13!1m5!3m4!1m2!1d-71.2617292!2d42.3639393!3s0x89e3831496b45575:0x3d225581e7b0208!1m5!1m1!1s0x89e38315a00fd793:0xf0a24b84a4753002!2m2!1d-71.2606688!2d42.3664885!3e2?entry=ttu&g_ep=EgoyMDI1MDEwMi4wIKXMDSoASAFQAw%3D%3D"
  target="_blank">
  <button><span style="color:#00B050;mso-themecolor:accent2">Google Map Directions</span></button>
</a></h4>
<ol>
  <li>Exit the parking lot.</li>
  <li>Turn <strong>left</strong> and walk 1,056 feet.</li>
  <li>Turn <strong>left</strong> again; the venue will be on your left after 351 feet.</li>    
</ol>

  <!-- <h3>Directions from Hassenfeld Lot to Venue</h3>
  <ol>
    <li>Exit the parking lot.</li>
    <li>Turn <strong>right</strong> onto Loop Road and continue for 112 feet.</li>
    <li>Turn <strong>left</strong> and walk 322 feet.</li>
    <li>Turn <strong>left</strong> again; the venue will be on your left after approximately 79 feet.</li>

  </ol>

  <h3>Directions from Theater Lot to Venue</h3>
  <ol>
    <li>Exist the parking lot.</li>
    <li>Turn <strong>left</strong> and walk for 1056 feet.</li>
    <li>Turn <strong>left</strong> again; the destination will be on your left after approximately 351 feet.</li>


  </ol> -->

  <h2>Campus Map</h2>

  <!-- <p class=BodyCopy><b style='mso-bidi-font-weight:normal'><span style='mso-no-proof:yes'> -->

  <!-- <![if gte vml 1]>
        <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
          path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
          <v:stroke joinstyle="miter" />
          <v:formulas>
            <v:f eqn="if lineDrawn pixelLineWidth 0" />
            <v:f eqn="sum @0 1 0" />
            <v:f eqn="sum 0 0 @1" />
            <v:f eqn="prod @2 1 2" />
            <v:f eqn="prod @3 21600 pixelWidth" />
            <v:f eqn="prod @3 21600 pixelHeight" />
            <v:f eqn="sum @0 0 1" />
            <v:f eqn="prod @6 1 2" />
            <v:f eqn="prod @7 21600 pixelWidth" />
            <v:f eqn="sum @8 21600 0" />
            <v:f eqn="prod @7 21600 pixelHeight" />
            <v:f eqn="sum @10 21600 0" />
          </v:formulas>
          <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect" />
          <o:lock v:ext="edit" aspectratio="t" />
        </v:shapetype>
        <v:shape id="Picture_x0020_6" o:spid="_x0000_i1025" type="#_x0000_t75"
          alt="A map of a city&#10;&#10;Description automatically generated with medium confidence"
          style='width:474pt;height:270pt;visibility:visible;mso-wrap-style:square'>
          <v:imagedata src="./images/campus_brandeis.png"
            o:title="A map of a city&#10;&#10;Description automatically generated with medium confidence" />
        </v:shape>
        <![endif]> -->

  <!-- <![if !vml]> -->
  <img src="./images/campus_brandeis.png" style="width: 100%; max-width: 1200px; height: auto;"
    alt="A map of a city&#10;&#10;Description automatically generated with medium confidence"
    v:shapes="Picture_x0020_6">
  <!-- <![endif]> -->
  <!-- </span>

      <span style='mso-bidi-font-weight:
bold'>
        <o:p></o:p>
      </span></b></p> -->

  <!-- <p class=BodyCopy><b>
      <o:p>&nbsp;</o:p>
    </b></p> -->




  <p>The <a href="https://www.brandeis.edu/about/visiting/map.html?bldgid=0101-1" target="_blank">Hassenfeld
      Conference Center (Building L13)</a> is located on the <a
      href="https://www.brandeis.edu/about/visiting/images/directions/color-map.pdf" target="_blank">lower
      campus</a>, approximately a 10-minute walk
    from the main entrance.</p>


  <!--h2>Train Stations</h2>

<p class=BodyCopy><b><span style='color:#00B050'>Green Line B: </span></b><span
style='color:black;mso-themecolor:text1'>The closest Stop to CCDS from the Green
Line is the Boston University East (BU East) stop, which happens to be just in front of the CCDS building.
The Green Line goes downtown with major stops at Kenmore, Copley, and Government Center.
Other Branches of the Green Line take passengers east bound,
to Northeastern Univeristy, Museum of Fine Arts, and Brookline/Newton.<br
style='mso-special-character:line-break'>
<![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
<![endif]><o:p></o:p></span></p-->



  <h2>Hotels</h2>

  In case you are not from the local area and looking for a place to stay, you can consider the following options:

  <h3>1) <a href="https://www.crescentsuiteshotel.com/" target="_blank">Crescent Suites Hotel LLC</a></h3>


  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 287 Crescent St, Waltham, MA 02453<o:p></o:p></span></p>


  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://www.google.com/maps/dir/Crescent+Suites+Hotel+LLC,+Crescent+Street,+Waltham,+MA/Hassenfeld+Conference+Center,+415+South+St,+Waltham,+MA+02453/@42.3674693,-71.2619727,15z/am=t/data=!4m14!4m13!1m5!1m1!1s0x89e3831f6f96b8cb:0xd63f6ad11aeadd6c!2m2!1d-71.244027!2d42.3644192!1m5!1m1!1s0x89e38315a00fd793:0xf0a24b84a4753002!2m2!1d-71.2606688!2d42.3664885!3e2?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">Walking
          Directions to Campus:</a></span></b><span style='color:black;mso-themecolor:text1'>
      Located less than 1.5 miles from campus, Hotel Crescent is easily within
      walking distance of campus. Click <a
        href="https://www.google.com/maps/dir/Crescent+Suites+Hotel+LLC,+Crescent+Street,+Waltham,+MA/Hassenfeld+Conference+Center,+415+South+St,+Waltham,+MA+02453/@42.3674693,-71.2619727,15z/am=t/data=!4m14!4m13!1m5!1m1!1s0x89e3831f6f96b8cb:0xd63f6ad11aeadd6c!2m2!1d-71.244027!2d42.3644192!1m5!1m1!1s0x89e38315a00fd793:0xf0a24b84a4753002!2m2!1d-71.2606688!2d42.3664885!3e2?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">here</a>
      for direction.<o:p></o:p></span></p>

  <h3>2) <a
      href="https://www.bestwestern.com/en_US/book/hotels-in-waltham/best-western-plus-waltham-boston/propertyCode.22009.html"
      target="_blank"> Best Western Plus Waltham Boston
    </a></h3>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 380 Winter St, Waltham, MA 02451<o:p></o:p></span></p>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://www.google.com/maps/dir/Best+Western+Plus+Waltham+Boston,+380+Winter+St,+Waltham,+MA+02451/Brandeis+University+Graduate+School+of+Arts+and+Sciences,+Goldfarb+Library,+South+Street,+Waltham,+MA/@42.3762501,-71.2402809,17z/am=t/data=!4m14!4m13!1m5!1m1!1s0x89e39cc42e77081b:0x776ba9ecafbd3f0!2m2!1d-71.2579154!2d42.3976801!1m5!1m1!1s0x89e3833e07e5a11f:0x811cd0fc044f65ff!2m2!1d-71.2579743!2d42.3678116!3e3?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">MBTA
          Directions to Campus:</a></span></b><span style="color:black;mso-themecolor:text1">Residents can take the
    </span><b><span style="color:#00B050;mso-themecolor:accent2">MBTA 61 North Waltham</span></b><span
      style="color:#00B050;mso-themecolor:accent2"></span>
    <span style="color:black;mso-themecolor:text1"> bus from Totten Pond Rd @ Third Ave and get down at Carter St @
      Waltham Comm Rail Station. From there, switch to </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 553</span></b>
    <span style="color:black;mso-themecolor:text1"> heading to South St @ Brandeis University. Finally, take an 8-minute
      walk to Brandeis University Graduate School of Arts and Sciences. The total travel time is approximately 46
      minutes.<o:p></o:p></span>
  </p>

  <h3>3) <a href="https://www.marriott.com/en-us/hotels/bosww-the-westin-waltham-boston/overview/" target="_blank">The
      Westin Waltham Boston</a></h3>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1">Address:</span></b>
    <span style="color:black;mso-themecolor:text1">Westin Hotel, 70 3rd Ave, Waltham, MA 02451<o:p></o:p></span>
  </p>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1"><a
          href="https://www.google.com/maps/dir/The+Westin+Waltham+Boston,+Westin+Hotel,+70+3rd+Ave,+Waltham,+MA+02451/Brandeis+University+Graduate+School+of+Arts+and+Sciences,+Goldfarb+Library,+South+Street,+Waltham,+MA/@42.3809371,-71.2699863,14z/am=t/data=!4m14!4m13!1m5!1m1!1s0x89e39cc8946c5a29:0x4b1e81d18a70d81b!2m2!1d-71.2597626!2d42.3953067!1m5!1m1!1s0x89e3833e07e5a11f:0x811cd0fc044f65ff!2m2!1d-71.2579743!2d42.3678116!3e3?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">MBTA Directions to Campus:</a></span></b>
    <span style="color:black;mso-themecolor:text1">Residents can take the </span><b><span
        style="color:#00B050;mso-themecolor:accent2">MBTA 61 North Waltham</span></b><span
      style="color:#00B050;mso-themecolor:accent2"></span>
    <span style="color:black;mso-themecolor:text1"> bus from Totten Pond Rd @ Third Ave and get down at Carter St @
      Waltham Comm Rail Station. From there, switch to </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 553</span></b>
    <span style="color:black;mso-themecolor:text1"> heading to South St @ Brandeis University. Finally, take an 8-minute
      walk to Brandeis University Graduate School of Arts and Sciences. The total travel time is approximately 46
      minutes.<o:p></o:p></span>
  </p>

  <h3>4) <a href="https://www.hyatt.com/en-US/hotel/massachusetts/hyatt-house-boston-waltham/bosxw"
      target="_blank">Hyatt House Boston/Waltham</a></h3>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1">Address:</span></b>
    <span style="color:black;mso-themecolor:text1">54 4th Ave, Waltham, MA 02451<o:p></o:p></span>
  </p>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1"><a
          href="https://www.google.com/maps/dir/Hyatt+House+Boston%2FWaltham,+54+4th+Ave,+Waltham,+MA+02451/Brandeis+University+Graduate+School+of+Arts+and+Sciences,+Goldfarb+Library,+South+Street,+Waltham,+MA/@42.3809371,-71.272435,14z/am=t/data=!4m19!4m18!1m5!1m1!1s0x89e39cc8fe39ac49:0x494f7dcbcd599915!2m2!1d-71.2575429!2d42.3944184!1m5!1m1!1s0x89e3833e07e5a11f:0x811cd0fc044f65ff!2m2!1d-71.2579743!2d42.3678116!2m3!6e0!7e2!8j1734804840!3e3!5i1?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">MBTA Directions to Campus:</a></span></b>
    <span style="color:black;mso-themecolor:text1">From Hyatt House Boston/Waltham, take an approximate 11-minute walk
      (0.5 miles) to </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Totten Pond Rd @ Third Ave</span></b>.
    <span style="color:black;mso-themecolor:text1"> From there, board </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 61 Waltham Center</span></b>
    <span style="color:black;mso-themecolor:text1"> and ride to Main St @ Daniels Ct (10 minutes, 7 stops). Next, walk
      for 1 minute to Main St @ Exchange St and take </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 553 Roberts</span></b>
    <span style="color:black;mso-themecolor:text1"> to South St @ Brandeis University (9 minutes, 8 stops). Finally,
      take an 8-minute walk (0.3 miles) to Brandeis University Graduate School of Arts and Sciences. The total travel
      time is approximately 46 minutes.<o:p></o:p></span>
  </p>


  <h3>5) <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/waltham/wtmma/hoteldetail" target="_blank">Holiday
      Inn Express Boston-Waltham, an IHG Hotel</a></h3>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1">Address:</span></b>
    <span style="color:black;mso-themecolor:text1">385 Winter St, Waltham, MA 02451<o:p></o:p></span>
  </p>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1"><a
          href="https://www.google.com/maps/dir/Holiday+Inn+Express+Boston-Waltham,+an+IHG+Hotel,+385+Winter+St,+Waltham,+MA+02451/Brandeis+University+Graduate+School+of+Arts+and+Sciences,+Goldfarb+Library,+South+Street,+Waltham,+MA/@42.3814834,-71.2716718,14z/am=t/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x89e39cc6690235e1:0xf215657f0bbc849d!2m2!1d-71.25822!2d42.398606!1m5!1m1!1s0x89e3833e07e5a11f:0x811cd0fc044f65ff!2m2!1d-71.2579743!2d42.3678116!3e3!5i3?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">MBTA Directions to Campus:</a></span></b>
    <span style="color:black;mso-themecolor:text1">From Holiday Inn Express Boston-Waltham, take an approximate 5-minute
      walk (0.2 miles) to </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Totten Pond Rd @ Third Ave</span></b>.
    <span style="color:black;mso-themecolor:text1"> From there, board </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 61 Waltham Center</span></b>
    <span style="color:black;mso-themecolor:text1"> and ride to Main St @ Daniels Ct (7 minutes, 7 stops). Next, take an
      8-minute walk to Main St @ Hammond St and board </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 553 Roberts</span></b>
    <span style="color:black;mso-themecolor:text1"> to South St @ Brandeis University (6 minutes, 6 stops). Finally,
      take an 8-minute walk (0.3 miles) to Brandeis University Graduate School of Arts and Sciences. The total travel
      time is approximately 49 minutes.<o:p></o:p></span>
  </p>



  <h3>6) <a href="https://www.hilton.com/en/hotels/boswses-embassy-suites-boston-waltham/" target="_blank">Embassy
      Suites by Hilton Boston Waltham</a></h3>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1">Address:</span></b>
    <span style="color:black;mso-themecolor:text1">550 Winter St, Waltham, MA 02451<o:p></o:p></span>
  </p>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1"><a
          href="https://www.google.com/maps/dir/Embassy+Suites+by+Hilton+Boston+Waltham,+550+Winter+St,+Waltham,+MA+02451/Brandeis+University+Graduate+School+of+Arts+and+Sciences,+Goldfarb+Library,+South+Street,+Waltham,+MA/@42.3809371,-71.2734545,14z/am=t/data=!3m1!4b1!4m15!4m14!1m5!1m1!1s0x89e39cb784dcb517:0xcd882ff41d9ace68!2m2!1d-71.266374!2d42.3961213!1m5!1m1!1s0x89e3833e07e5a11f:0x811cd0fc044f65ff!2m2!1d-71.2579743!2d42.3678116!3e3!5i3?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">MBTA Directions to Campus:</a></span></b>
    <span style="color:black;mso-themecolor:text1">From Embassy Suites by Hilton Boston Waltham, take an approximate
      12-minute walk (0.5 miles) to </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Totten Pond Rd @ Third Ave</span></b>.
    <span style="color:black;mso-themecolor:text1"> From there, board </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 61 Waltham Center</span></b>
    <span style="color:black;mso-themecolor:text1"> and ride to Main St @ Daniels Ct (7 minutes, 7 stops). Next, take an
      8-minute walk to Main St @ Hammond St and board </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 553 Roberts</span></b>
    <span style="color:black;mso-themecolor:text1"> to South St @ Brandeis University (6 minutes, 6 stops). Finally,
      take an 8-minute walk (0.3 miles) to Brandeis University Graduate School of Arts and Sciences. The total travel
      time is approximately 56 minutes.<o:p></o:p></span>
  </p>



  <h3>7) <a href="https://www.marriott.com/en-us/hotels/boswm-courtyard-boston-waltham/overview/"
      target="_blank">Courtyard Boston Waltham</a></h3>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1">Address:</span></b>
    <span style="color:black;mso-themecolor:text1">387 Winter St, Waltham, MA 02451<o:p></o:p></span>
  </p>

  <p class="BodyCopy"><b><span style="color:black;mso-themecolor:text1"><a
          href="https://www.google.com/maps/dir/Courtyard+Boston+Waltham,+387+Winter+St,+Waltham,+MA+02451/Brandeis+University+Graduate+School+of+Arts+and+Sciences,+Goldfarb+Library,+South+Street,+Waltham,+MA/@42.3812368,-71.2716718,14z/am=t/data=!3m1!5s0x89e39cc660442fa7:0x394558059c061483!4m15!4m14!1m5!1m1!1s0x89e39cc6673b7983:0xde56b6c9f6054e0f!2m2!1d-71.2590332!2d42.3980484!1m5!1m1!1s0x89e3833e07e5a11f:0x811cd0fc044f65ff!2m2!1d-71.2579743!2d42.3678116!3e3!5i3?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">MBTA Directions to Campus:</a></span></b>
    <span style="color:black;mso-themecolor:text1">From Courtyard Boston Waltham, take an approximate 5-minute walk (0.2
      miles) to </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Totten Pond Rd @ Third Ave</span></b>.
    <span style="color:black;mso-themecolor:text1"> From there, board </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 61 Waltham Center</span></b>
    <span style="color:black;mso-themecolor:text1"> and ride to Main St @ Daniels Ct (7 minutes, 7 stops). Next, take an
      8-minute walk to Main St @ Hammond St and board </span>
    <b><span style="color:#00B050;mso-themecolor:accent2">Bus 553 Roberts</span></b>
    <span style="color:black;mso-themecolor:text1"> to South St @ Brandeis University (6 minutes, 6 stops). Finally,
      take an 8-minute walk (0.3 miles) to Brandeis University Graduate School of Arts and Sciences. The total travel
      time is approximately 49 minutes.<o:p></o:p></span>

  </p>



  <!-- <h3>8) <a href="https://www.sonder.com/destinations/brookline/the-arcadian/c35887?sleeps=1" target="_blank"> Arcadian
      Hotel Brookline</a></h3>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 1200 Beacon St, Brookline, MA 02446<o:p></o:p></span></p>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://maps.app.goo.gl/cKjpfhBbrhFAHczbA" target="_blank"> Walking
          Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
      The Arcadian Hotel Brookline is a mile away from campus. For a 23-minute walk to CCDS, go northeast on Beacon
      Street, turn north on St Mary's Street, right on Commonwealth Avenue, and you'll find CCDS on your left.<o:p>
      </o:p></span></p>


  <h3>9) <a href="https://beaconinn.com/" target="_blank"> Beacon Inn</a></h3>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 1087 Beacon St, Brookline, MA 02446<o:p></o:p></span></p>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://maps.app.goo.gl/d5hdJTuXqP1x2BHU8" target="_blank"> Walking
          Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
      The Beacon Inn is less than a mile away from campus. For a 16-minute walk to CCDS, go northeast on Beacon Street,
      turn north on St Mary's Street, right on Commonwealth Avenue, and you'll find CCDS on your left.<o:p></o:p></span>
  </p>


  <h3>10) <a href="https://www.charlesmarkhotel.com/" target="_blank"> The Charlesmark Boutique Hotel</a></h3>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 655 Boylston St, Boston, MA 02116<o:p></o:p></span></p>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://maps.app.goo.gl/fWEjJeSsQJ6tpBnU9" target="_blank"> MBTA
          Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
      Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:#00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
      the Copley station for four stops to BU East station and walk to CCDS.
      The train ride plus walk will take roughly 15 minutes.<o:p></o:p></span></p> -->

  <!--
<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Uber/
Driving Directions:</span></b><span style='color:black;mso-themecolor:text1'>
The drive from The Colonnade to ISEC takes around 5 minutes depending on
traffic.
</div>
-->




</div>