<!-- sidebar -->
<ul class="sidebar">
   <a href="#" id="logocontainer">
    <div id="logo" >
      <span > NEDB Day<br/>2025</span>
    </div>
    </a>
   <li class="active home"><a href="#">Home page</a></li>
   <li class="submission"><a href="https://cmt3.research.microsoft.com/NEDBDay2025/" target="_blank">Submission Site</a></li>

   <li class="program"><a href="#program">Program</a></li>
   <li class="keynote"><a href="#keynote">Keynotes</a></li>
   <!-- li class="papers"><a href="#papers">Accepted Talks</a></li-->
   <li class="posters"><a href="#posters">Poster Session</a></li>
   <li class="transport"><a href="#transport">Transportation and Hotels</a></li>

   <li class="registration"><a href="https://brandeisuniversity.my.site.com/s/event-detail?language=en_US&eventId=a4xPQ000000CiRt" target="_blank">Registration</a></li>
   <li class="map"><a href="https://www.google.com/maps/place/Hassenfeld+Conference+Center,+415+South+St,+Waltham,+MA+02453/@42.3664494,-71.2632283,17z/data=!4m15!1m8!3m7!1s0x89e38315a00fd793:0xf0a24b84a4753002!2sHassenfeld+Conference+Center,+415+South+St,+Waltham,+MA+02453!3b1!8m2!3d42.3664455!4d-71.2606534!16s%2Fg%2F12hk3q7m4!3m5!1s0x89e38315a00fd793:0xf0a24b84a4753002!8m2!3d42.3664455!4d-71.2606534!16s%2Fg%2F12hk3q7m4?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Map</a></li>

   <li class="photos"><a href="#photos">Event Photos</a></li>
   
   <li class="history"><a href="#history">Previous Events</a></li> 

</ul>
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700);
</style>
